.container{
    background-color: rgb(245, 243, 243);
}
.container__list{
    background-color: white;
    margin-top: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 1px 1px rgba(184, 183, 183, 0.683);
}

.header__list{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

.title__list{
    color:rgb(3, 3, 62);
}

.container__icon{
    display: flex;
    justify-content: flex-end;
}

.container__table{
    margin:10px;
}

.container__form{
    margin: 15px;
}

.paginator{
    display: flex;
    justify-content: flex-end;
}
